* {
    margin: 0;
    padding: 0;
}



@media (min-width: 576px) {

    .contenido {
        display: flex;
        gap: 20px;
    }
}


body {
    background-color: black;
    color: var(--color-principal);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



:root {
    --color-principal: white;
    --color-secundario: #3FBA3B;
    --color-calido: #BB202C;
}





.logo-zaap {
    display: flex;
    justify-content: center;
        align-items: center;
    height: 100vh;
}
    
    
.logo-zaap img {
    max-width: 150%;
    max-height: 150%;
}



.contenido {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}
    
    

.navegacion-principal {
    text-align: center;
}
    
    
.menu-navegacion {
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3FBA3B;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 25px var(--color-secundario);
        
    }
    
    

    .menu-navegacion li  a {
        text-decoration: none;
        padding: 10px;
        display: block ;
        color: var(--color-principal);
    }
    


.advertencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


.picante img {
    width: 150px;
    height: 150px; 
}


p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color-principal);
    text-align: center;
}


ul {
    list-style-type: none; 
    
}

ul li img {
    width: 500px;
    height: auto;
    border: 10px solid var(--color-principal);
    border-radius: 30px;
    box-shadow: 0 0 30px var(--color-secundario);
    margin-top: 200px;
}


li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}




.precio {
    color: var(--color-principal);
    font-size: 25px;
    margin-top: 10px; 
}


.descripcion {
    color: var(--color-principal);
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nombre-plato {
    color:var(--color-secundario);
    margin-top:30px; 
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}


.menu-navegacion {
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3FBA3B;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 25px var(--color-secundario);
}

.menu-navegacion li  a {
    text-decoration: none;
    padding: 10px;
    display: flex; 
    color: var(--color-principal);
}



.footer-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    margin-top: 20px;
}






