* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    color: var(--color-principal);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --color-principal: white;
    --color-secundario: #3FBA3B;
    --color-calido: #BB202C;
}

img {
    width: 750px;
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




ul {
    list-style-type: none; 
    padding: 0;
}

ul li img {
    margin-top: 20px;
    order: 1; 
}

ul li img {
    
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px var(--color-secundario); 
}

ul li img {
    width: 500px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 30px;
    margin-bottom: 100px; 
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px; 
}

span {
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--color-secundario);
    margin-top: 10px; 
}

.precio {
    font-size: 25px;
    margin-top: 10px; 
}

.descripcion {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}





#picante {
    width: 100px;
    height: 100px;
}
.poco-picante{
    display: flex;
    align-items: center;
}


#picante2 {
    width: 100px;
    height: 100px;
}
.mas-picante {
    display: flex;
    align-items: center;
}



#picante3 {
    width: 100px;
    height: 100px;
}
.mas-mas-picante {
    justify-content:baseline;
    display: flex;
    align-items: center;
}


.contenedor-flex {
    display: flex; 
    margin: 20px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap; 
}

.contenedor-flex div {
    flex: 1; 
    max-width: 200px; 
    text-align: center; 
}


.platos {
    margin-top: 100px;
}

.nivel-picante {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
}








.ajad-pepino {
    margin-top: 100px;
    text-align: center;
}
.ajad-pepino img {
    margin-bottom: 100px;
}


.currylentejas {
    margin-top: 100px;
    text-align: center;
}
.currylentejas img {
    margin-bottom: 100px;
}



.curry-rojo-langostinos {
    margin-top: 100px;
    text-align: center;
}
.curry-rojo-langostinos img {
    margin-bottom: 100px;
}



.curry-rojo-pollo {
    margin-top: 100px;
    text-align: center;
}
.curry-rojo-pollo img {
    margin-bottom: 100px;
}


.curry-verde-pollo {
    margin-top: 100px;
    text-align: center;
}
.curry-verde-picante img {
    width: 50px;
    height: 50px;
    margin-bottom: 100px;
}


.curry-verduras-mar {
    margin-top: 100px;
    text-align: center;
}
.curry-verde-verduras-picante img {
    margin-bottom: 100px;
}


.noddles-calabaza {
    margin-top: 100px;
    text-align: center;
}
.noddles-calabaza img {
    margin-bottom: 100px;
}


.pad-thai {
    margin-top: 100px;
    text-align: center;
}
.pad-thai img {
    margin-bottom: 100px;
}


.curry-amarillo-pollo{
    margin-top: 100px;
    text-align: center;
}
.curry-amarillo-picante img {
    margin-bottom: 100px;
}


.sopa-tom-kha-kai {
    margin-top: 100px;
    text-align: center;
}
.sopa-tom-kha-kai-picante img {
    margin-bottom: 200px;
}


.tofu-curry {
    margin-top: 100px;
    text-align: center;
}
.tofu-curry img {
    margin-bottom: 100px;
}


.tom-yam-kung {
    margin-top: 100px;
    text-align: center;
}
.tom-yam-kung-picante img {
    margin-bottom: 200px;
}





