*,::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Este bloque de código define un conjunto de estilos que se aplicarán cuando el ancho de la pantalla sea de al menos 992 píxeles.*/
@media (min-width: 576px) {
    /*Se refiere a cualquier elemento con la clase "contenido"*/
    .contenido {
        /**diseño flexible para el elemento "contenido", lo que significa que sus elementos secundarios (como divs o elementos de lista) pueden ajustarse y reorganizarse según el espacio disponible.*/
        display: flex;
        /*Agrega un espacio de 20 píxeles entre los elementos secundarios de "contenido". Esto proporciona un espaciado uniforme entre ellos.*/
        gap: 20px;
    }
}

body {
    background-color: black;
    color: var(--color-principal);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --color-principal: white;
    --color-secundario: #3FBA3B;
    --color-calido: #BB202C;
}

h1 {
    margin: 20px ;
}



.navegacion-principal {
    text-align: center;
    width: 100%;
}

.menu-navegacion {
    /*el elemento se comporte como un contenedor flexible. Los elementos hijos dentro de este contenedor podrán ser distribuidos y alineados de manera flexible.*/
    display: flex;
    /*Establece el ancho del elemento dentro del contenedor (90%)*/
    width: 100%;
    /*max-width: 1000px;*/
    /*margin: auto;*/
    /*tamaño del texto dentro del menú de navegación*/
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3FBA3B;
    /*Elimina los marcadores de lista */
    list-style: none;
    /*Elimina cualquier espacio adicional  dentro del elemento. Esto asegura que el contenido esté pegado al borde del elemento.*/
    padding: 0px;
    /*plica esquinas redondeadas*/
    border-radius: 50px;
    /* Añade una sombra alrededor del elemento.*/
    box-shadow: 0 0 100px var(--color-secundario);
}

    

/*estilos se aplican a los elementos <a> que están dentro de los elementos "li"*/
.menu-navegacion li  a {
    /*quita la decoración predeterminada de los enlaces*/
    text-decoration: none;
    /*Añade un espacio alrededor del contenido del enlace. Esto asegura que haya espacio entre el texto y el borde del enlace.*/
    padding: 10px;
    /*Hace que el enlace se comporte como un bloque, ocupando todo el ancho del contenedor. Esto significa que se extenderá horizontalmente para llenar su contenedor.*/
    display: block;
    color: var(--color-principal);
}




.contenedor1 {
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-secundario);
}

.contenedor1 img{
    width: 100%;
    height:100%;
    object-fit:cover ;
}


.wrap-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px; 
    border-radius: 10px; 
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 20px;
    color: var(--color-principal);
    margin-bottom: 10px; 
}

.contenedor2 {
    width: 800px;
    height: 600px;
    overflow: hidden;
    position:relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-secundario);
}

.contenedor2 img{
    width: 100%;
    height:100%;
    object-fit:cover ;
}


.wrap-texto2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px; 
    border-radius: 10px; 
}


.contenedor3 {
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-secundario);
}

.contenedor3 img{
    width: 100%;
    height:100%;
    object-fit:cover ;
}


.wrap-texto3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px; 
    border-radius: 10px; 
}



.contenedor4 {
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-secundario);
}

.contenedor4 img{
    width: 100%;
    height:100%;
    object-fit:cover ;
}


.wrap-texto4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px; 
    border-radius: 10px; 
}