/*El selector * selecciona todos los elementos HTML.
margin: 0; y padding: 0; establecen el margen y el relleno de todos los elementos a cero, lo que elimina cualquier espacio adicional.
/* outline: 1px solid gray; */ 
* {
    margin: 0;
    padding: 0;

}


/* Este bloque de código define un conjunto de estilos que se aplicarán cuando el ancho de la pantalla sea de al menos 992 píxeles.*/
@media (min-width: 576px) {
    /*Se refiere a cualquier elemento con la clase "contenido"*/
    .contenido {
        /**diseño flexible para el elemento "contenido", lo que significa que sus elementos secundarios (como divs o elementos de lista) pueden ajustarse y reorganizarse según el espacio disponible.*/
        display: flex;
        /*Agrega un espacio de 20 píxeles entre los elementos secundarios de "contenido". Esto proporciona un espaciado uniforme entre ellos.*/
        gap: 20px;
    }
}


/*establece el color de fondo y el tipo de letra que se utilizará */
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*  "root" es donde puedes guardar colores y valores que quieras usar en tu página web. I*/
:root {
    --color-principal: white;
    --color-secundario: #3FBA3B;
    --color-calido: #BB202C;
}


/*este bloque dice que a todos se  les aplicará el color*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-principal);
}


/*le esta aplicando un estilo concreto*/
span {
    color: var(--color-calido);
    font-weight: bold;
}


/*se le aplica una serie de estilos */
h2 {
    /*agrega espacio en la parte  superior*/
    padding-top: 50px;
    /*tamaño texto*/
    font-size: 30;
    /*agrega una borde */
    border-bottom: 1px solid #fafafa;
    /* Añade espacio entre el texto y el borde */
    padding-bottom: 10px; 
}


/*contenedor de la imagen*/
.logo-zaap {
/*contenedor flexible*/
    display: flex;
/*justify y align centran el contenido horizontal y  verticalmente*/
    justify-content: center;
    align-items: center;
/*height en este caso me ocupa toda la pantalla*/
    height: 100vh;
    background-color: black;
    
}


.logo-zaap img {
    /*anchura máxima de la imagen se establece en un 150% del tamaño del contenedor */
    max-width: 150%;
    /*establece la altura máxima de la imagen en un 150% del  tamaño del contenedor*/
    max-height: 150%;
}


.contenido {
    /*Agrega un espacio en la parte superior del contenido. Esto es un espacio entre el borde superior del contenedor y el contenido de dentro*/
    padding-top: 10px;
    /*Establece el modo de visualización como "flexbox", lo que permite un mayor control sobre el diseño y la alineación de los elementos secundarios*/
    display: flex;
    /*significa que los elementos se apilarán verticalmente uno encima del otro en lugar de horizontalmente.*/
    flex-direction: column;
    /*Centra los elementos*/
    align-items: center;
    /*/* Opcional: para dar un color de fondo */
    background-color: black; 
}


/*cualquier texto o contenido dentro de .navegacion-principal se centrará*/
.navegacion-principal {
    text-align: center;
    
}


.menu-navegacion {
    /*el elemento se comporte como un contenedor flexible. Los elementos hijos dentro de este contenedor podrán ser distribuidos y alineados de manera flexible.*/
    display: flex;
    /*Establece el ancho del elemento dentro del contenedor (90%)*/
    width: 90%;
    /*tamaño del texto dentro del menú de navegación*/
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3FBA3B;
    /*Elimina los marcadores de lista */
    list-style: none;
    /*Elimina cualquier espacio adicional  dentro del elemento. Esto asegura que el contenido esté pegado al borde del elemento.*/
    padding: 0px;
    /*plica esquinas redondeadas*/
    border-radius: 10px;
    /* Añade una sombra alrededor del elemento.*/
    box-shadow: 0 0 25px var(--color-secundario);
}


/*estilos se aplican a los elementos <a> que están dentro de los elementos "li"*/
.menu-navegacion li  a {
    /*quita la decoración predeterminada de los enlaces*/
    text-decoration: none;
    /*Añade un espacio alrededor del contenido del enlace. Esto asegura que haya espacio entre el texto y el borde del enlace.*/
    padding: 10px;
    /*Hace que el enlace se comporte como un bloque, ocupando todo el ancho del contenedor. Esto significa que se extenderá horizontalmente para llenar su contenedor.*/
    display: block;
    color: var(--color-principal);
}


/*estilos se aplican al elemento "footer", que generalmente se encuentra al final de una página web y contiene información como créditos, enlaces de contacto, etc.*/
.footer-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:var(--color-principal);
    text-align: center;
    margin-top: 20px;
}



