* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid gray;*/
}


body {
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

:root {
    --color-principal: white;
    --color-secundario: #3FBA3B;
    --color-calido: #BB202C;

}



p {
    color: var(--color-claro);
    margin-bottom: 10px;
}

.hero {
    height: 100px;
    background-color: black;
}

img {
    width: 750px;
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-navegacion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-principal);
    
}

h2 {
    border-bottom: 2px solid #fafafa; /* Agrega un borde en la parte inferior */
    padding-bottom: 5px; /* Añade espacio entre el texto y el borde */
}



p {
    margin-bottom: 30px;
}


.hero {
    height: 100px;
    background-color: var(--color-claro);
}

.titulo-principal {
    text-align: center;
}


.titulo-principal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenido-principal {
    background-color: black;
    font-size: 20px;
    padding: 40px;
    margin-bottom: auto;
}

span {
    color: var(--color-calido);
}

.navegacion-principal {
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}

.menu-navegacion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    width: 300px;
    
}

.menu-navegacion li {
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-navegacion li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3FBA3B;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
    text-align:center;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--color-secundario);
}


.footer-principal {
    font-family: 'big-shoulders', sans-serif;
    color:var(--color-claro);
    text-align: center;
    margin-top: 12px;

}

/* grande */
@media (min-width: 992px) {
    .contenido {
        display: flex;
        gap: 20px;
    }
}

