* {
    margin: 0;
    padding: 0;

}



@media (min-width: 576px) {
    h2 {
        font-size: 20px; 
    }

    }




body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



:root {
    --color-principal: white;
    --color-secundario: #3FBA3B;
    --color-calido: #BB202C;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-principal);
}



span {
    color: var(--color-calido);
    font-weight: bold;
}



h2 {
    padding-top: 50px;
    font-size: 30;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 10px; 
}



.logo-zaap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.logo-zaap img {
    max-width: 150%;
    max-height: 150%;
}


.contenido {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}



.navegacion-principal {
    text-align: center;
    
}


.menu-navegacion {
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3FBA3B;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 25px var(--color-secundario);
}



.menu-navegacion li  a {
    text-decoration: none;
    padding: 10px;
    display: flex; 
    color: var(--color-principal);
}



.footer-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:var(--color-principal);
    text-align: center;
    margin-top: 20px;
}



